html,
body,
.box,
#start,
#bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box {
    position: relative;
    #start {
        position: absolute;
        z-index: 10;
        color: white;
        font-size: 0.8rem;
        font-family: cursive;
        text-align: center;
        span {
            display: inline-block;
            margin-top: 12rem;
            padding: 0.25rem 0.5rem;
            background: rgba(45, 90, 120, 0.6);
            border: 0.05rem solid #000;
            border-radius: 0.4rem;
            box-shadow: inset 0 0 0.1rem 0.05rem #CCCCCC;
        }
    }
    #bg {
        position: absolute;
        z-index: -10;
        img {
            display: block;
            width: 100%;
            margin-top: -1%;
        }
        .first {
            margin-top: -1%;
            animation: bg 5s cubic-bezier(0, 0, 1, 1);
        }
    }
    #df {
        display: none;
        width: 100%;
        color: white;
        font-size: 0.6rem;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        #current {
            width: 1rem;
            text-align: center;
            float: left;
        }
        #history {
            min-width: 3rem;
            text-align: center;
            float: right;
        }
    }
    #me {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 23rem;
        left: 7.5rem;
        margin-left: -1rem;
        text-align: center;
        z-index: 5;
        img {
            display: inline-block;
            width: 4rem;
            margin-left: -1rem;
        }
    }
    .bullet {
        display: block;
        width: 0.8rem;
        position: absolute;
        left: -2rem;
        transition: top 3s cubic-bezier(0, 0, 1, 1);
    }
    .enemy {
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        position: absolute;
        top: -5rem;
        z-index: 0;
        transition: all 5s cubic-bezier(0, 0, 1, 1);
        img {
            width: 3rem;
            margin-left: -0.75rem;
        }
    }
    .boom {
        display: none;
        width: 3rem;
        height: 4rem;
        background: url(../img/explosion1.png) center no-repeat;
        background-size: 150%;
        position: absolute;
        z-index: 10;
    }
    #end {
        display: none;
        width: 12rem;
        height: 9rem;
        position: absolute;
        top: 50%;
        left: 1.5rem;
        z-index: 30;
        margin-top: -4.5rem;
        background: url(../img/Common.png) -28.52rem -13.32rem no-repeat;
        background-size: 450%;
        color: white;
        font-size: 0.8rem;
        font-family: cursive;
        text-align: center;
        #fen,
        #best {
            display: block;
            margin: 0rem auto 1rem;
        }
        #fen{
            margin-top: 2.5rem;
        }
        #btn {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            background: linear-gradient(RGBA(84, 126, 141, 0.5) 45%, RGBA(0, 62, 85, 0.5) 45%);
            border: 0.05rem solid #4B606A;
            border-radius: 0.4rem;
            box-shadow: inset 0 0 0.1rem 0.05rem #CCCCCC;
        }
    }
}

@keyframes bg {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: -1%;
    }
}